@import "./component/mediaquaries";
@import "./component/base";
*{
    padding: 0;
    margin: 0;
}
body{
    background: #FFFFFF;
    overflow-x: hidden;
    @media (max-width: $small) {
        overflow-x: hidden;
    }
    @media (max-width: $medium) {
        overflow-x: hidden;
    }
  header{
        .one{
            background: #000000;
            color: #FFFFFF;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
            @media (max-width: $small){
                font-size: 10px;
            }  
            @media (max-width: $medium) {
                font-size: 10px;
            }
            a{
                font-weight:700;
                color: #FFFFFF;
            }
        }
        
        .two{
            margin: 2% 9%;
            display: flex;
            justify-content: space-between;
            @media (max-width:$small) {
                font-size: 12px;
            }
            @media (max-width: $medium) {
                font-size: 12px;
            }
            input{
                width: 550px;
                height: 30px;
                background: #F5F5F5;
                border: none;
                outline: none;
                padding-left: 1%;
                border-radius: 6px;
                @media (max-width:$small) {
                    font-size: 10px;
                    width: 250px;
                    height: 25px;
                }
                @media (max-width: $medium) {
                    font-size: 10px;
                    width: 270px;
                    height: 25px;
                }
            }
            .fa-solid{
                margin-left: -26%;
                margin-top: 7px;
                @media (max-width:$small) {
                    font-size: 10px;
                }
                @media (max-width: $medium) {
                    font-size: 10px;
                }
            }
            select{
                border: none;
                @media (max-width:$small) {
                    font-size: 10px;
                }
                @media (max-width: $medium) {
                    font-size: 10px;
                }
            }
        }
        .three{
            padding:30px 9%;
            display: flex;
            justify-content: space-between;
            
            span{
                font-size: 24px;
                font-weight: bold;
                @media (max-width:$small) {
                    font-size: 14px;
                }
                @media (max-width: $medium) {
                    font-size: 14px;
                }
            }
            .first{
                display: flex;
                gap: 50px;
                margin-right: 5%;
                list-style: none;
                @media (max-width:$small) {
                    display:none;
                }
                @media (max-width: $medium) {
                    display: none;
                }
            }

            .second{
                display: flex;
                list-style: none;
                gap: 20px;
                @media (max-width:$small) {
                    font-size: 10px;
                }
                @media (max-width: $medium) {
                    font-size: 10px;
                }
                li{
                    @media (max-width:$small) {
                        display: none;
                    }
                    @media (max-width: $medium) {
                        display: none;
                    }
                }
            }
            .firstly{
                display: none;
                @media (max-width:$small) {
                    display:block;
                    position: absolute;
                    list-style: none;
                    font-size: 10px;
                    right: -1001%;
                    top:90px;
                    background: #000000;
                    color: #FFFFFF;
                    width: 55px;
                    height: 70px;
                    border-radius: 18px;
                    padding-left: 3%;
                    transition: all .50s ease;     
                    line-height: 14px;
                }
                @media (max-width: $medium) {
                    display:block;
                    position: absolute;
                    list-style: none;
                    font-size: 10px;
                    right: -1001%;
                    top:90px;
                    background: #000000;
                    color: #FFFFFF;
                    width: 55px;
                    height: 70px;
                    border-radius: 18px;
                    padding-left: 3%;
                    transition: all .50s ease;     
                    line-height: 14px;
                }
            }
            #solid{
                display: none;
                @media (max-width:$small) {
                    display: flex;
                    cursor: pointer;
                }
                @media (max-width:$small) {
                    display: flex;
                    cursor: pointer;
                }
            }
            .firstly.open{
                right: 10%;
            }            
        }
  } 
  .hero{
    background: #000000;
    margin: 9%;
    padding-left: 4%;
    height: 456px;
    color: #FFFFFF;
    @media (max-width:$small) {
        margin: 5%;
        height: 360px;
    }
    @media (max-width:$medium) {
        margin: 5%;
        height: 360px;
    }
    p{
        padding-top: 7%;
        margin-bottom: 4%;
        @media (max-width:$small) {
            font-size: 14px;
        }
    i{
        margin-right: 28px;
        font-size: 50px;
        @media (max-width:$small) {
            font-size: 30px;
        }
    
    }
    }
    h1{
        font-size: 55px;
        margin-bottom: 4%;
        white-space: pre-line;
        @media (max-width:$small) {
            font-size: 20px;
            margin-bottom: 10%;
            margin-top: 7%;
        }
    }
    img{
        margin-top: -27.3%;
        float: right;
        @media (max-width:$small) {
            width: 300px;
            height: 180px;
            margin-top: -40px;
        }
    }
    a{
        font-size: 18px;
        text-decoration: underline;
        @media (max-width:$small) {
            font-size: 10px;
        }
    }
    }
  
  figure{
    margin-bottom: 12%;
    margin-top:5%;
    display: block; 
    @media (max-width:$small) {
       margin-top: 1%; 
    }
    @media (max-width: $medium) {
        margin-top: 2%;
    }
    img{
        padding-left:2%;
        padding-right: 6%;
        border-radius: 16px;
        @media (max-width:$small) {
            padding-left:3%;
            width:150px;
         }
         @media (max-width: $medium) {
            padding-left: 3%;
            width: 150px;
        }
     } 
    }
  main{
    margin-left: 8%;
    margin-right: 6%;
    display: block;
        h1{
        margin-bottom: 5%;
        font-weight: 900;
        font-size: 40px;
        @media (max-width:$small) {
            font-size: 20px; 
            margin-bottom:3%;
         }
         @media (max-width: $medium) {
            font-size: 20px; 
            margin-bottom:3%;
        }
        }
        a{
        float: right;
        font-size: 20px;
        color: #5AC0C0;
        padding-right: 3%;
        @media (max-width:$small) {
            font-size: 10px;
            padding-right: 12%;
         }
         @media (max-width: $medium) {
            font-size: 20px; 
            padding-right: 12%;
        }
        }
        img{
            margin-bottom: 10px;
            margin-left:10px;
            @media (max-width:$small) {
                width: 300px;
                height: 350px;
                margin-left: 55px;
            }
            @media (max-width: $medium) {
                width: 300px;
                height: 350px;
                margin-left: 55px;
            }
        }
        
    .clothings{
        margin-top: 10%;
        display: flex;
        @media (max-width:$small) {
            margin-top: 15%;
            display: block;
        }
        @media (max-width:$medium) {
            margin-top: 15%;
            display: block;
        }
        .tag{
            h3{
                font-size: 26px;
                white-space: pre-line;
                margin-bottom: 15%;
                @media (max-width:$small) {
                    font-size: 24px;
                    margin-bottom: 5%;
                    text-align: center;
                }
                @media (max-width:$medium) {
                    font-size: 24px;
                    margin-bottom: 5%;
                    text-align: center;
                }
            }
            p{
                color: #1e1e1e6f;
                white-space: pre-line;
                margin-bottom: 15%;
                line-height: 25px;
                @media (max-width:$small) {
                    font-size: 16px;
                    margin-bottom: 5%;
                    text-align: center;
                }
                @media (max-width:$medium) {
                    font-size: 16px;
                    margin-bottom: 5%;
                    text-align: center;
                }
            }
            button{
                width: 125px;
                height: 30px;
                background: #C1DCDC;
                border: none;
                padding-right: 3%;
                @media (max-width:$small) {
                    width: 100px;
                    font-size: 10px;
                    margin-left: 40%;
                    margin-right: auto;
                }
                @media (max-width:$medium) {
                    width: 100px;
                    font-size: 10px;
                    margin-left: 40%;
                    margin-right: auto;
                }
            }
         }
        .wears{
            margin-top: -3%;
            display: flex;
            figure{
                padding-left: 60px;
            @media (max-width:$small) {
                width: 248px;
                height: 250px;
                margin-top: 10%;
                margin-bottom: 40%;
                padding-left: 0;
            }
            @media (max-width:$medium) {
                width: 248px;
                height: 250px;
                margin-top: 10%;
                margin-bottom: 40%;
                padding-left: 0;
            }
            figcaption{
                margin-left: 15px;
                @media (max-width:$small) {
                    margin-left: 70px;
                }
                @media (max-width:$medium) {
                    margin-left: 70px;
                }
            }
            }
            .rest{
                @media (max-width:$small) {
                    display: none;
                }
                @media (max-width:$medium) {
                    display: none;
                }
        }
        }
        
    }
    .bar{
        margin-left: 47%;
        margin-top: 10%;
        margin-bottom: 6%;
        display: flex;
        top: 50%;
        left: 50%;
        width: 1245px;
        height: 110px;
        background: #02A0A0;
        transform: translate(-50%, -50%);
        @media (max-width:$small) {
           width: 520px; 
           height: 60px;
           display: block;
           background: none;
           margin-left: 100%;
           margin-bottom: 20%;
           margin-top: 18%;
        }
        @media (max-width:$medium) {
            width: 520px; 
           height: 60px;
           display: block;
           background: none;
           margin-left: 100%;
           margin-bottom: 20%;
           margin-top: 18%;
        }
        .cut{
            background: #C1DCDC;
            width: 90%;
            height: 100%;
            box-sizing: border-box;
            border-right: 100px solid #02A0A0;
            border-bottom: 100px solid transparent;
            @media (max-width:$small) {
                width: 209px;
                border-right:none;
                border-bottom: none;
                padding: 1%;
            }
            @media (max-width:$medium) {
                width: 209px;
                border-right:none;
                border-bottom: none;
                padding: 1%;
            }
            h4{
                margin-top: 4%;
                margin-left: 3%;
                @media (max-width:$small) {
                font-size: 12px;
                }
                @media (max-width:$medium) {
                font-size: 12px;
                }
            }             
            p{
                margin-left: 3%;
                @media (max-width:$small) {
                    font-size: 10px;
                    }
                @media (max-width:$medium) {
                     font-size: 10px;   
                    }    
            } 
        }
        .slash{
            background:  #02A0A0;
            width: 40%;
            height: 100%;  
            box-sizing: border-box;            
            button{
                float: right;
                background: #000000;
                color: #FFFFFF;
                margin-top: 10%;
                margin-right: 5%;
                width: 80px;
                height: 30px;
                border-radius: 6px;
                @media (max-width:$small) {
                    font-size: 8px;
                    margin-top: 5%;
                    margin-right: 10%;
                    }
                @media (max-width:$medium) {
                    font-size: 8px;
                    margin-top: 5%;
                    margin-right: 10%;   
                       }     
            }
        }
    }
    .new{
        display: flex;
        margin-top: 3%;
        color: #02A0A0;
        margin-left: 3%;
       .pure{
        border: 1px solid;
        width: 16px;
        height: 35px;
        background: #02A0A0;
       }
       .featured{
        margin-left: 1%;
        margin-top: 5px;
       } 
    }
    .arrival{
        margin-left: 3%;
        margin-top: 1.5%;
        font-size: 28px;
        margin-bottom: 2%;
        @media (max-width:$small) {
            font-size: 18px;
        }
        @media (max-width:$medium) {
            font-size: 18px;   
        }
    }
    .img{
        @media (max-width: $small) {
            margin-left: 1%;  
        }
        @media (max-width:$medium) {
            margin-left: 1%;   
        }
        .img1{
            @media (max-width: $small) {
                margin-left: 15%; 
            }
            @media (max-width:$medium) {
                margin-left: 15%;  
            }
        }
        .img2{
            float: right;
            margin-top: -615px; 
            @media (max-width:$small) {
                display: none;
            }
            @media (max-width:$medium) {
                display: none;  
            }
        }
        .img3{
            margin-left: -65px;
            @media (max-width:$small) {
                margin-left: 15%;
                margin-top: 18px;
            }
            @media (max-width:$medium) {
                margin-left: 15%;
                margin-top: 18px;  
            }
        }
        .img4{
            float: right;
            margin-top: -298px;
            @media (max-width:$small) {
                float: none;
                margin-left: 15%;
                margin-top: 18px;
            }
            @media (max-width:$medium) {
                float: none;
                margin-left: 15%;
                margin-top: 18px;  
            }
        }
    }
    .saved{
        margin-top: 10%;
        padding: 2%;
        border:1px solid#e8e5e5;
        p{
            font-size: 24px;
            font-weight: 600;
            @media (max-width: $small) {
                font-size: 20px;
            }
            @media (max-width: $medium) {
                font-size: 20px;
            }            
        }
        .images{
            display: flex;
            margin-top: 3%;
            margin-bottom: 3%;
            @media (max-width: $small) {
                display: block;  
            }
            @media (max-width: $medium) {
                display: block;
            } 
            figure{
                margin-left: 5px;
                @media (max-width:$small) {
                    margin-left: 0;
                }
             figcaption{
                margin-top: 1%;
                margin-left: 5%;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 1%;
                @media (max-width: $small) {
                    font-size: 16px;
                    margin-left: 13%;
                }
                h6{
                    font-weight: normal;
                    font-size: 16px;
                    padding:2%;
                    padding-left: 0;
                    line-height: 18px;
                    white-space: pre-line;
                    @media (max-width: $small) {
                        font-size: 14px;
                    }
                }            
            }
            button{
                color: #2283DC;
                border:1px solid #e8e5e5;
                height: 40px;
                width: 120px;
                border-radius: 10px;
                background: #FFFFFF;
                @media (max-width: $small) {
                    margin-left: 13%;
                }
            }
        }
        }
    }
  }

  footer{
    background: #000000;
    color: #FFFFFF;
    margin-top: 10%;
    padding-top: 5%;
    @media (max-width: $small) {
       height: 810px;
    }
    .details{
        padding-left: 8%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $small) {
         display: block;
        }
        .left-footer{
            @media (max-width: $small) {
                margin-bottom: 5%;
            }
            h5{
                margin-right: 500px;
                font-weight: 200;
                font-size: 18px;
                margin-bottom: 3%;
                @media (max-width: $small) {
                    font-size: 16px;
                }
            }
            p{
                font-size: 16px;
                font-weight: 200;
                margin-bottom: 3%;
                @media (max-width: $small) {
                    font-size: 14px;
                }
            }
            a{
                font-size: 16px;
                @media (max-width: $small) {
                    font-size: 12px;
                }
            }
        }
        i{
            font-size: 40px;
        }
        .right-footer{
            h5{
                margin-right: 100px;
                font-weight: 200;
                font-size: 18px;
                margin-bottom: 3%;
                @media (max-width: $small) {
                    font-size: 16px;
                }
            }
            p{
                font-size: 16px;
                font-weight: 200;
                margin-bottom: 3%;
                @media (max-width: $small) {
                    font-size: 14px;
                }
            }
            a{
                font-size: 16px;
                @media (max-width: $small) {
                    font-size: 12px;
                }
            }
        }
    }
    table{
        border: 1px solid #ffffff39;
        width: 1510px;
        margin-top: 5%;
        @media (max-width:$small) { 

        }
        thead,tbody{
            padding-left: 0; 
            @media (max-width:$small) { 
            
            } 
            th{
                font-size: 16px;
                font-weight: 100;
                font-style: normal;
                text-align: left;
                padding-left: 4%;
                padding-top: 2%;
                text-transform: uppercase;
                @media (max-width:$small) { 
                }
            }
            td{
                font-size: 14px;
                padding-left: 4%;
                padding-top: 2%;
                @media (max-width:$small) { 
            
                }
                i{
                    font-size: 20px;
                    margin-left: 5px;
                }

            }
            .social{
                width: 250px;
                text-transform: uppercase;
            } 
            .detailed-img{
                display:flex;
                margin-top: -80px;
                margin-left: 40px;
                @media (max-width:$small) {
                    margin-left: 50%;
                }
            }           
        }
       
    }
    section{
        margin-top: 2%;
        margin-left: 8%;
        @media (max-width:$small) {
            display: block;
        }
        p{
            font-weight: 200;
            margin-bottom: 1%;
        }
        img{
            margin-left: 0;
            padding-left: 1%;
            padding-right: 1%;
        }
        a{
            color:#AB4E1A;
            font-size: 26px;
            padding-left: 1%;
        }
        h6{
            font-size: 18px;
            font-weight: 200;
            float: right;
            padding-right: 5%;
        }
    }
  }
}