* {
  padding: 0;
  margin: 0;
}

body {
  background: #FFFFFF;
  overflow-x: hidden;
}
body header .one {
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
@media (max-width: 768px) {
  body header .one {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  body header .one {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  body header .one {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  body header .one {
    font-size: 14px;
  }
}
body header .one a {
  font-weight: 700;
  color: #FFFFFF;
}
body header .two {
  margin: 2% 9%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body header .two {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  body header .two {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  body header .two {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body header .two {
    font-size: 16px;
  }
}
body header .two input {
  width: 550px;
  height: 30px;
  background: #F5F5F5;
  border: none;
  outline: none;
  padding-left: 1%;
  border-radius: 6px;
}
@media (max-width: 768px) {
  body header .two input {
    font-size: 8px;
    width: 200px;
    height: 25px;
  }
}
@media (min-width: 769px) {
  body header .two input {
    font-size: 12px;
    width: 320px;
    height: 25px;
  }
}
@media (min-width: 992px) {
  body header .two input {
    font-size: 16px;
    width: 550px;
    height: 30px;
  }
}
body header .two .fa-solid {
  margin-left: -26%;
  margin-top: 7px;
}
@media (max-width: 768px) {
  body header .two .fa-solid {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  body header .two .fa-solid {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  body header .two .fa-solid {
    font-size: 16px;
  }
}
body header .two select {
  border: none;
}
@media (max-width: 768px) {
  body header .two select {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  body header .two select {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  body header .two select {
    font-size: 16px;
  }
}
body header .three {
  padding: 30px 9%;
  display: flex;
  justify-content: space-between;
}
body header .three span {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  body header .three span {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  body header .three span {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  body header .three span {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body header .three span {
    font-size: 16px;
  }
}
body header .three .first {
  display: flex;
  gap: 50px;
  margin-right: 5%;
  list-style: none;
}
@media (max-width: 768px) {
  body header .three .first {
    display: none;
  }
}
@media (min-width: 769px) {
  body header .three .first {
    display: none;
  }
}
@media (min-width: 992px) {
  body header .three .first {
    display: flex;
  }
}
@media (min-width: 1024px) {
  body header .three .first {
    display: flex;
  }
}
body header .three .second {
  display: flex;
  list-style: none;
  gap: 20px;
}
@media (max-width: 768px) {
  body header .three .second {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  body header .three .second {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  body header .three .second {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body header .three .second {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body header .three .second li {
    display: none;
  }
}
@media (min-width: 769px) {
  body header .three .second li {
    display: none;
  }
}
body header .three .firstly {
  display: none;
}
@media (max-width: 768px) {
  body header .three .firstly {
    display: block;
    position: absolute;
    list-style: none;
    font-size: 10px;
    right: -1001%;
    top: 70px;
    background: #000000;
    color: #FFFFFF;
    width: 55px;
    height: 70px;
    border-radius: 18px;
    padding-left: 3%;
    transition: all 0.5s ease;
    line-height: 14px;
  }
}
@media (min-width: 769px) {
  body header .three .firstly {
    display: block;
    position: absolute;
    list-style: none;
    font-size: 12px;
    right: -1001%;
    top: 90px;
    background: #000000;
    color: #FFFFFF;
    width: 60px;
    height: 80px;
    border-radius: 18px;
    padding-left: 3%;
    transition: all 0.5s ease;
    line-height: 16px;
  }
}
@media (min-width: 992px) {
  body header .three .firstly {
    display: none;
  }
}
@media (min-width: 1024px) {
  body header .three .firstly {
    display: none;
  }
}
body header .three #solid {
  display: none;
}
@media (max-width: 768px) {
  body header .three #solid {
    display: flex;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  body header .three #solid {
    display: flex;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  body header .three #solid {
    display: none;
  }
}
@media (min-width: 1024px) {
  body header .three #solid {
    display: none;
  }
}
body header .three .firstly.open {
  right: 10%;
}
@media (min-width: 992px) {
  body header .three .firstly.open {
    display: none;
  }
}
@media (min-width: 1024px) {
  body header .three .firstly.open {
    display: none;
  }
}
body .hero {
  background: #000000;
  margin: 9%;
  padding-left: 4%;
  height: 456px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  body .hero {
    margin: 5%;
    height: 360px;
  }
}
@media (min-width: 769px) {
  body .hero {
    margin: 5%;
    height: 400px;
  }
}
@media (min-width: 992px) {
  body .hero {
    margin: 9%;
    height: 456px;
  }
}
@media (min-width: 1024px) {
  body .hero {
    margin: 9%;
    height: 456px;
  }
}
body .hero p {
  padding-top: 7%;
  margin-bottom: 4%;
}
@media (max-width: 768px) {
  body .hero p {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  body .hero p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  body .hero p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body .hero p {
    font-size: 16px;
  }
}
body .hero p i {
  margin-right: 28px;
  font-size: 50px;
}
@media (max-width: 768px) {
  body .hero p i {
    font-size: 30px;
  }
}
body .hero h1 {
  font-size: 55px;
  margin-bottom: 4%;
  white-space: pre-line;
}
@media (max-width: 768px) {
  body .hero h1 {
    font-size: 20px;
    margin-bottom: 10%;
    margin-top: 7%;
  }
}
@media (min-width: 769px) {
  body .hero h1 {
    font-size: 40px;
    margin-bottom: 10%;
    margin-top: 7%;
  }
}
@media (min-width: 992px) {
  body .hero h1 {
    font-size: 55px;
    margin-bottom: 4%;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  body .hero h1 {
    font-size: 55px;
    margin-bottom: 4%;
    margin-top: 0;
  }
}
body .hero .voucher {
  margin-top: -27.3%;
  float: right;
}
@media (max-width: 768px) {
  body .hero .voucher {
    width: 300px;
    height: 180px;
    margin-top: -40px;
  }
}
@media (min-width: 769px) {
  body .hero .voucher {
    width: 320px;
    height: 220px;
  }
}
@media (min-width: 992px) {
  body .hero .voucher {
    width: 600px;
    margin-top: -25%;
    height: 350px;
  }
}
@media (min-width: 1024px) {
  body .hero .voucher {
    width: 600px;
    margin-top: -25%;
    height: 350px;
  }
}
body .hero a {
  font-size: 18px;
  text-decoration: underline;
}
@media (max-width: 768px) {
  body .hero a {
    font-size: 10px;
  }
}
body .icons {
  margin-bottom: 12%;
  margin-top: 5%;
  display: block;
}
@media (max-width: 768px) {
  body .icons {
    margin-top: 1%;
  }
}
@media (min-width: 769px) {
  body .icons {
    margin-top: 2%;
  }
}
@media (min-width: 992px) {
  body .icons {
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  body .icons {
    margin-top: 5%;
  }
}
body .icons img {
  padding-left: 2%;
  padding-right: 6%;
  border-radius: 16px;
}
@media (max-width: 768px) {
  body .icons img {
    padding-left: 3%;
    width: 150px;
  }
}
@media (min-width: 769px) {
  body .icons img {
    padding-left: 1%;
    width: 100px;
  }
}
@media (min-width: 992px) {
  body .icons img {
    padding-left: 2%;
    width: 120px;
  }
}
@media (min-width: 1024px) {
  body .icons img {
    padding-left: 2%;
    width: 120px;
  }
}
body main {
  margin-left: 8%;
  margin-right: 6%;
  display: block;
}
body main h1 {
  margin-bottom: 5%;
  font-weight: 900;
  font-size: 40px;
}
@media (max-width: 768px) {
  body main h1 {
    font-size: 20px;
    margin-bottom: 3%;
  }
}
@media (min-width: 769px) {
  body main h1 {
    font-size: 24px;
    margin-bottom: 3%;
  }
}
@media (min-width: 992px) {
  body main h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  body main h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }
}
body main a {
  float: right;
  font-size: 20px;
  color: #5AC0C0;
  padding-right: 3%;
}
@media (max-width: 768px) {
  body main a {
    font-size: 10px;
    padding-right: 12%;
  }
}
@media (min-width: 769px) {
  body main a {
    font-size: 20px;
    padding-right: 14%;
  }
}
@media (min-width: 992px) {
  body main a {
    font-size: 20px;
    padding-right: 3%;
  }
}
@media (min-width: 1024px) {
  body main a {
    font-size: 20px;
    padding-right: 3%;
  }
}
body main img {
  margin-bottom: 10px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  body main img {
    width: 300px;
    height: 350px;
    margin-left: 20px;
  }
}
@media (min-width: 769px) {
  body main img {
    width: 280px;
    height: 350px;
    margin-left: 55px;
  }
}
@media (min-width: 992px) {
  body main img {
    width: 450px;
    height: 429px;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  body main img {
    width: 450px;
    height: 429px;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  body main .gad {
    width: 800px;
    height: 427px;
  }
}
@media (min-width: 1024px) {
  body main .gad {
    width: 800px;
    height: 427px;
  }
}
body main .clothings {
  margin-top: 10%;
  display: flex;
}
@media (max-width: 768px) {
  body main .clothings {
    margin-top: 15%;
    display: block;
  }
}
@media (min-width: 769px) {
  body main .clothings {
    margin-top: 15%;
    display: block;
  }
}
@media (min-width: 992px) {
  body main .clothings {
    margin-top: 10%;
    display: flex;
  }
}
@media (min-width: 1024px) {
  body main .clothings {
    margin-top: 10%;
    display: flex;
  }
}
body main .clothings .tag h3 {
  font-size: 26px;
  white-space: pre-line;
  margin-bottom: 15%;
}
@media (max-width: 768px) {
  body main .clothings .tag h3 {
    font-size: 24px;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 769px) {
  body main .clothings .tag h3 {
    font-size: 24px;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 992px) {
  body main .clothings .tag h3 {
    font-size: 26px;
    margin-left: 0;
    margin-top: 15%;
  }
}
@media (min-width: 1024px) {
  body main .clothings .tag h3 {
    font-size: 26px;
    margin-left: 0;
    margin-top: 15%;
  }
}
body main .clothings .tag p {
  color: rgba(30, 30, 30, 0.4352941176);
  white-space: pre-line;
  margin-bottom: 15%;
  line-height: 25px;
}
@media (max-width: 768px) {
  body main .clothings .tag p {
    font-size: 16px;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 769px) {
  body main .clothings .tag p {
    font-size: 16px;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 992px) {
  body main .clothings .tag p {
    margin-bottom: 15%;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  body main .clothings .tag p {
    margin-bottom: 15%;
    margin-left: 0;
  }
}
body main .clothings .tag button {
  width: 125px;
  height: 30px;
  background: #C1DCDC;
  border: none;
  padding-right: 3%;
}
@media (max-width: 768px) {
  body main .clothings .tag button {
    width: 100px;
    font-size: 10px;
    margin-left: 10%;
    margin-right: auto;
  }
}
@media (min-width: 769px) {
  body main .clothings .tag button {
    width: 100px;
    font-size: 10px;
    margin-left: 10%;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  body main .clothings .tag button {
    width: 125px;
    font-size: 16px;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  body main .clothings .tag button {
    width: 125px;
    font-size: 16px;
    margin-left: 0;
  }
}
body main .clothings .wears {
  margin-top: 3%;
  display: flex;
}
@media (max-width: 768px) {
  body main .clothings .wears {
    display: block;
  }
}
@media (min-width: 769px) {
  body main .clothings .wears {
    display: block;
  }
}
@media (min-width: 992px) {
  body main .clothings .wears {
    display: flex;
  }
}
@media (min-width: 1024px) {
  body main .clothings .wears {
    display: flex;
  }
}
@media (min-width: 992px) {
  body main .clothings .wears figure {
    margin-left: 5%;
    margin-right: 4%;
  }
}
@media (min-width: 1024px) {
  body main .clothings .wears figure {
    margin-left: 5%;
    margin-right: 4%;
  }
}
body main .clothings .wears figure img {
  width: 278px;
  height: 338px;
  margin-bottom: 50%;
}
@media (max-width: 768px) {
  body main .clothings .wears figure img {
    width: 208px;
    height: 250px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (min-width: 769px) {
  body main .clothings .wears figure img {
    width: 180px;
    height: 160px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (min-width: 992px) {
  body main .clothings .wears figure img {
    width: 278px;
    height: 338px;
    margin-top: 0;
    margin-bottom: 10%;
  }
}
@media (min-width: 1024px) {
  body main .clothings .wears figure img {
    width: 278px;
    height: 338px;
    margin-top: 0;
    margin-bottom: 10%;
  }
}
body main .clothings .wears figure figcaption {
  margin-left: 15px;
}
@media (max-width: 768px) {
  body main .clothings .wears figure figcaption {
    margin-left: 30px;
  }
}
@media (min-width: 769px) {
  body main .clothings .wears figure figcaption {
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  body main .clothings .wears figure figcaption {
    margin-left: 15px;
  }
}
@media (min-width: 1024px) {
  body main .clothings .wears figure figcaption {
    margin-left: 15px;
  }
}
body main .bar {
  margin-left: 47%;
  margin-top: 10%;
  margin-bottom: 6%;
  display: flex;
  top: 50%;
  left: 50%;
  width: 1245px;
  height: 110px;
  background: #02A0A0;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  body main .bar {
    width: 520px;
    height: 60px;
    display: block;
    background: none;
    margin-left: 100%;
    margin-bottom: 20%;
    margin-top: 18%;
  }
}
@media (min-width: 769px) {
  body main .bar {
    width: 520px;
    height: 60px;
    display: block;
    background: none;
    margin-left: 100%;
    margin-bottom: 20%;
    margin-top: 18%;
  }
}
@media (min-width: 992px) {
  body main .bar {
    margin-left: 47%;
    margin-top: 10%;
    margin-bottom: 6%;
    display: flex;
    top: 50%;
    left: 50%;
    width: 1245px;
    height: 110px;
  }
}
@media (min-width: 1024px) {
  body main .bar {
    margin-left: 47%;
    margin-top: 15%;
    margin-bottom: 6%;
    display: flex;
    top: 50%;
    left: 50%;
    width: 1245px;
    height: 110px;
  }
}
body main .bar .cut {
  background: #C1DCDC;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  border-right: 100px solid #02A0A0;
  border-bottom: 100px solid transparent;
}
@media (max-width: 768px) {
  body main .bar .cut {
    width: 209px;
    border-right: none;
    border-bottom: none;
    padding: 1%;
  }
}
@media (min-width: 769px) {
  body main .bar .cut {
    width: 208px;
    border-right: none;
    border-bottom: none;
    padding: 1%;
  }
}
@media (min-width: 992px) {
  body main .bar .cut {
    border-right: 100px solid #02A0A0;
    border-bottom: 100px solid transparent;
    width: 90%;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  body main .bar .cut {
    border-right: 100px solid #02A0A0;
    border-bottom: 100px solid transparent;
    width: 90%;
    padding: 0;
  }
}
body main .bar .cut h4 {
  margin-top: 4%;
  margin-left: 3%;
}
@media (max-width: 768px) {
  body main .bar .cut h4 {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  body main .bar .cut h4 {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  body main .bar .cut h4 {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body main .bar .cut h4 {
    font-size: 16px;
  }
}
body main .bar .cut p {
  margin-left: 3%;
}
@media (max-width: 768px) {
  body main .bar .cut p {
    font-size: 10px;
  }
}
@media (max-width: 769px) {
  body main .bar .cut p {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  body main .bar .cut p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body main .bar .cut p {
    font-size: 16px;
  }
}
body main .bar .slash {
  background: #02A0A0;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
body main .bar .slash button {
  float: right;
  background: #000000;
  color: #FFFFFF;
  margin-top: 10%;
  margin-right: 5%;
  width: 80px;
  height: 30px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  body main .bar .slash button {
    font-size: 8px;
    margin-top: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 769px) {
  body main .bar .slash button {
    font-size: 8px;
    margin-top: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 992px) {
  body main .bar .slash button {
    font-size: 1opx;
    margin-top: 12%;
    margin-right: 5%;
  }
}
@media (min-width: 1024px) {
  body main .bar .slash button {
    font-size: 1opx;
    margin-top: 12%;
    margin-right: 5%;
  }
}
body main .new {
  display: flex;
  margin-top: 3%;
  color: #02A0A0;
  margin-left: 3%;
}
body main .new .pure {
  border: 1px solid;
  width: 16px;
  height: 35px;
  background: #02A0A0;
}
body main .new .featured {
  margin-left: 1%;
  margin-top: 5px;
}
body main .arrival {
  margin-left: 3%;
  margin-top: 1.5%;
  font-size: 28px;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  body main .arrival {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  body main .arrival {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  body main .img {
    margin-left: 1%;
  }
}
@media (min-width: 769px) {
  body main .img {
    margin-left: 1%;
  }
}
@media (min-width: 992px) {
  body main .img {
    margin-left: 3%;
  }
}
body main .img .img1 {
  float: right;
  width: 570px;
  height: 284px;
}
@media (max-width: 768px) {
  body main .img .img1 {
    width: 270px;
    height: 284px;
    float: none;
    margin-top: 0;
    margin-left: 10%;
  }
}
@media (min-width: 769px) {
  body main .img .img1 {
    width: 270px;
    height: 284px;
    float: none;
    margin-top: 0;
    margin-left: 10%;
  }
}
@media (min-width: 992px) {
  body main .img .img1 {
    width: 570px;
    height: 284px;
    float: right;
    margin-left: 0;
    margin-bottom: -50%;
    padding-right: 5%;
  }
}
body main .img .img2 {
  width: 570px;
  height: 600px;
}
@media (max-width: 768px) {
  body main .img .img2 {
    width: 270px;
    height: 284px;
    margin-left: 10%;
  }
}
@media (min-width: 769px) {
  body main .img .img2 {
    width: 270px;
    height: 284px;
    margin-left: 10%;
  }
}
@media (min-width: 992px) {
  body main .img .img2 {
    margin-left: 0;
    width: 570px;
    height: 600px;
  }
}
body main .img .img3 {
  margin-left: -65px;
  width: 270px;
  height: 284px;
}
@media (max-width: 768px) {
  body main .img .img3 {
    margin-left: 10%;
    margin-top: 18px;
  }
}
@media (min-width: 769px) {
  body main .img .img3 {
    margin-left: 10%;
    margin-top: 18px;
  }
}
@media (min-width: 992px) {
  body main .img .img3 {
    margin-left: 42px;
  }
}
body main .img .img4 {
  float: right;
  margin-top: -298px;
  width: 270px;
  height: 284px;
}
@media (max-width: 768px) {
  body main .img .img4 {
    float: none;
    margin-left: 10%;
    margin-top: 18px;
  }
}
@media (min-width: 769px) {
  body main .img .img4 {
    float: none;
    margin-left: 10%;
    margin-top: 18px;
  }
}
@media (min-width: 992px) {
  body main .img .img4 {
    float: right;
    margin-left: 0;
    padding-right: 5%;
    margin-top: 25%;
  }
}
body main .saved {
  margin-top: 10%;
  padding: 2%;
  border: 1px solid #e8e5e5;
}
body main .saved p {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 768px) {
  body main .saved p {
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  body main .saved p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  body main .saved p {
    font-size: 24px;
  }
}
body main .saved .gadget_image {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  body main .saved .gadget_image {
    display: block;
  }
}
@media (min-width: 769px) {
  body main .saved .gadget_image {
    display: block;
  }
}
@media (min-width: 992px) {
  body main .saved .gadget_image {
    display: flex;
  }
}
body main .saved .gadget_image img {
  margin-left: 15px;
  width: 300px;
  height: 360px;
}
@media (max-width: 768px) {
  body main .saved .gadget_image img {
    margin-left: 0;
  }
}
@media (min-width: 769px) {
  body main .saved .gadget_image img {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  body main .saved .gadget_image img {
    margin-left: 15px;
  }
}
body main .saved .gadget_image figcaption {
  margin-top: 1%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  body main .saved .gadget_image figcaption {
    font-size: 16px;
    margin-left: 18%;
  }
}
body main .saved .gadget_image figcaption h6 {
  font-weight: normal;
  font-size: 16px;
  padding: 2%;
  padding-left: 0;
  line-height: 18px;
  white-space: pre-line;
}
@media (max-width: 768px) {
  body main .saved .gadget_image figcaption h6 {
    font-size: 14px;
  }
}
body main .saved .gadget_image button {
  color: #2283DC;
  border: 1px solid #e8e5e5;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background: #FFFFFF;
}
@media (max-width: 768px) {
  body main .saved .gadget_image button {
    margin-left: 18%;
  }
}
body footer {
  background: #000000;
  color: #FFFFFF;
  margin-top: 10%;
  padding-top: 5%;
}
@media (max-width: 768px) {
  body footer {
    display: block;
  }
}
body footer .details {
  padding-left: 8%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body footer .details {
    display: block;
  }
}
@media (max-width: 768px) {
  body footer .details .left-footer {
    margin-bottom: 5%;
  }
}
body footer .details .left-footer h5 {
  margin-right: 500px;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  body footer .details .left-footer h5 {
    font-size: 16px;
  }
}
body footer .details .left-footer p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  body footer .details .left-footer p {
    font-size: 14px;
  }
}
body footer .details .left-footer a {
  font-size: 16px;
}
@media (max-width: 768px) {
  body footer .details .left-footer a {
    font-size: 12px;
  }
}
body footer .details i {
  font-size: 40px;
}
body footer .details .right-footer h5 {
  margin-right: 100px;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  body footer .details .right-footer h5 {
    font-size: 16px;
  }
}
body footer .details .right-footer p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  body footer .details .right-footer p {
    font-size: 14px;
  }
}
body footer .details .right-footer a {
  font-size: 16px;
}
@media (max-width: 768px) {
  body footer .details .right-footer a {
    font-size: 12px;
  }
}
body footer table {
  border: 1px solid rgba(255, 255, 255, 0.2235294118);
  width: 1510px;
  margin-top: 5%;
}
@media (max-width: 768px) {
  body footer table {
    display: none;
  }
}
body footer table thead, body footer table tbody {
  padding-left: 0;
}
body footer table thead th, body footer table tbody th {
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  padding-left: 4%;
  padding-top: 2%;
  text-transform: uppercase;
}
body footer table thead td, body footer table tbody td {
  font-size: 14px;
  padding-left: 4%;
  padding-top: 2%;
}
body footer table thead td i, body footer table tbody td i {
  font-size: 20px;
  margin-left: 5px;
}
body footer table thead .social, body footer table tbody .social {
  width: 250px;
  text-transform: uppercase;
}
body footer table thead .detailed-img, body footer table tbody .detailed-img {
  display: flex;
  margin-top: -80px;
  margin-left: 40px;
}
@media (max-width: 768px) {
  body footer table thead .detailed-img, body footer table tbody .detailed-img {
    margin-left: 50%;
  }
}
body footer #second {
  display: none;
}
@media (max-width: 768px) {
  body footer #second {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2235294118);
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  body footer #second tr {
    display: block;
    padding-bottom: 4%;
    padding-left: 8%;
  }
}
@media (max-width: 768px) {
  body footer #second tr th {
    display: block;
  }
}
@media (max-width: 768px) {
  body footer #second tr td {
    display: block;
  }
}
body footer section {
  margin-top: 2%;
  margin-left: 8%;
}
@media (max-width: 768px) {
  body footer section {
    display: block;
    padding-bottom: 10%;
  }
}
body footer section p {
  font-weight: 200;
  margin-bottom: 1%;
}
body footer section img {
  margin-left: 0;
  padding-left: 1%;
  padding-right: 1%;
}
body footer section a {
  color: #AB4E1A;
  font-size: 26px;
  padding-left: 1%;
}
body footer section h6 {
  font-size: 18px;
  font-weight: 200;
  float: right;
  padding-right: 5%;
}
@media (max-width: 768px) {
  body footer section h6 {
    padding-top: 1%;
  }
}/*# sourceMappingURL=index.css.map */