@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Quella";
  src: url("/assets/quella-owyda.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}
body header {
  width: 100%;
}
body header .top-nav {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
body header .top-nav a {
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 768px) {
  body header .top-nav {
    font-size: 90%;
    padding: 15px 20px;
    line-height: 1.4;
  }
}
body header .mid-nav {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body header .mid-nav {
    margin: 0;
    padding: 15px 20px;
  }
}
body header .mid-nav input {
  position: relative;
  width: 550px;
  height: 30px;
  background: #f5f5f5;
  border: none;
  outline: none;
  padding-left: 1%;
  border-radius: 6px;
}
body header .mid-nav input::-moz-placeholder {
  font-size: 90%;
  padding-left: 20px;
}
body header .mid-nav input::placeholder {
  font-size: 90%;
  padding-left: 20px;
}
@media (max-width: 768px) {
  body header .mid-nav input {
    display: none;
  }
}
@media (max-width: 991px) {
  body header .mid-nav input {
    display: none;
  }
}
body header .mid-nav .fa-solid {
  position: absolute;
  right: 450px;
  font-size: 16px;
  margin-top: 7px;
}
@media (max-width: 1023px) {
  body header .mid-nav .fa-solid {
    right: 200px;
  }
}
body header .mid-nav select {
  border: none;
  background: transparent;
}
@media (max-width: 768px) {
  body header .mid-nav select {
    font-size: 15px;
  }
}
body header .mid-nav h3 {
  font-family: "Quella", sans-serif;
  font-weight: 300;
  font-size: 28px;
}
@media (max-width: 768px) {
  body header .mid-nav h3 {
    font-size: 22px;
  }
}
body header .bottom-nav {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body header .bottom-nav {
    margin: 0;
    padding: 15px 20px;
  }
}
body header .bottom-nav span {
  font-size: 24px;
  font-weight: bold;
}
body header .bottom-nav .menu {
  display: flex;
  gap: 50px;
  margin-right: 5%;
  list-style: none;
}
@media (max-width: 768px) {
  body header .bottom-nav .menu {
    display: none;
  }
}
@media (max-width: 991px) {
  body header .bottom-nav .menu {
    display: none;
  }
}
@media (max-width: 1023px) {
  body header .bottom-nav .menu {
    gap: 40px;
  }
}
body header .bottom-nav .menu li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}
body header .bottom-nav .side-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}
@media (max-width: 768px) {
  body header .bottom-nav .side-menu {
    display: none;
  }
}
@media (max-width: 991px) {
  body header .bottom-nav .side-menu {
    display: none;
  }
}
body header .bottom-nav .side-menu .fa-cart-shopping {
  position: relative;
  padding-right: 10px;
}
body header .bottom-nav .side-menu .fa-cart-shopping .two {
  position: absolute;
  font-size: 6px;
  color: #fafafa;
  border-radius: 50%;
  background-color: #2283dc;
  padding: 5px;
  bottom: 10px;
}
body header .bottom-nav .side-menu .fa-user {
  background-color: #2283dc;
  padding: 5px;
  font-size: 12px;
  color: #fafafa;
  border-radius: 50%;
}
body header .bottom-nav .alt-menu {
  display: none;
}
@media (max-width: 768px) {
  body header .bottom-nav .alt-menu {
    list-style: none;
    background: #000000;
    color: #ffffff;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    transition: all 0.3s ease;
  }
}
@media (max-width: 991px) {
  body header .bottom-nav .alt-menu {
    list-style: none;
    background: #000000;
    color: #ffffff;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    transition: all 0.3s ease;
  }
}
body header .bottom-nav #menu {
  display: none;
  position: absolute;
  right: 20px;
}
@media (max-width: 768px) {
  body header .bottom-nav #menu {
    display: block;
    cursor: pointer;
    right: 5px;
  }
}
@media (max-width: 991px) {
  body header .bottom-nav #menu {
    display: block;
    cursor: pointer;
  }
}
body header .bottom-nav .show {
  display: block;
}
body .hero {
  padding: 3rem 6rem;
}
@media (max-width: 768px) {
  body .hero {
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 991px) {
  body .hero {
    padding: 1.5rem 1.5rem;
  }
}
body .hero .hero-content {
  padding: 4rem 4.7rem;
  background-color: #000;
  color: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center center;
  gap: 2rem;
}
@media (max-width: 768px) {
  body .hero .hero-content {
    padding: 1.5rem 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991px) {
  body .hero .hero-content {
    padding: 1.5rem 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
body .hero .hero-content .hero-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .hero .hero-content .hero-details p {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
@media (max-width: 768px) {
  body .hero .hero-content .hero-details p {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  body .hero .hero-content .hero-details p {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
body .hero .hero-content .hero-details p .fa-apple {
  font-size: 4rem;
}
@media (max-width: 768px) {
  body .hero .hero-content .hero-details p .fa-apple {
    font-size: 2rem;
  }
}
@media (max-width: 991px) {
  body .hero .hero-content .hero-details p .fa-apple {
    font-size: 3rem;
  }
}
body .hero .hero-content .hero-details p span {
  font-size: 120%;
}
body .hero .hero-content .hero-details h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 66px;
}
@media (max-width: 768px) {
  body .hero .hero-content .hero-details h1 {
    font-size: 43px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  body .hero .hero-content .hero-details h1 {
    font-size: 53px;
    margin-bottom: 2rem;
  }
}
body .hero .hero-content .hero-details .hero-cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body .hero .hero-content .hero-details .hero-cta a {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #ffffff;
}
body .hero .hero-content img {
  width: 100%;
}
@media (max-width: 768px) {
  body .hero .hero-content img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  body .hero .hero-content img {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  body .hero .hero-content img {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  body .hero .hero-content img {
    width: 100%;
  }
}
body .sponsors {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
  margin-top: 5rem;
  gap: 88px;
}
@media (max-width: 768px) {
  body .sponsors {
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    row-gap: 15px;
  }
}
@media (max-width: 991px) {
  body .sponsors {
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    row-gap: 15px;
  }
}
body .sponsors div {
  height: 100px;
  width: 180px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.4862745098);
}
@media (max-width: 768px) {
  body .sponsors div {
    width: 80%;
  }
}
@media (max-width: 991px) {
  body .sponsors div {
    width: 80%;
  }
}
body .sponsors div img {
  width: 90%;
  height: 60px;
  margin: auto;
}
@media (max-width: 768px) {
  body .sponsors div img {
    width: 40%;
  }
}
@media (max-width: 991px) {
  body .sponsors div img {
    width: 40%;
  }
}
body main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
body main .explore {
  padding: 0 6rem;
}
@media (max-width: 768px) {
  body main .explore {
    padding: 0 1.5rem;
  }
}
@media (max-width: 991px) {
  body main .explore {
    padding: 0 1.5rem;
  }
}
body main .explore .explore-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body main .explore .explore-header {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  body main .explore .explore-header {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}
body main .explore .explore-header h1 {
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 40px;
}
@media (max-width: 768px) {
  body main .explore .explore-header h1 {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  body main .explore .explore-header h1 {
    font-size: 36px;
  }
}
body main .explore .explore-header a {
  font-size: 20px;
  color: #5ac0c0;
}
@media (max-width: 768px) {
  body main .explore .explore-header a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  body main .explore .explore-header a {
    font-size: 18px;
  }
}
body main .explore .explore-images div {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  body main .explore .explore-images div {
    display: block;
  }
}
@media (max-width: 991px) {
  body main .explore .explore-images div {
    display: block;
  }
}
body main .explore .explore-images div img {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  body main .explore .explore-images div img {
    width: 90%;
  }
}
@media (max-width: 991px) {
  body main .explore .explore-images div img {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  body main .explore .explore-images div .sm-img {
    height: 350px;
  }
}
@media (max-width: 1200px) {
  body main .explore .explore-images div .sm-img {
    height: 350px;
  }
}
@media (max-width: 1023px) {
  body main .explore .explore-images div .lg-img {
    height: 350px;
    width: 70%;
  }
}
@media (max-width: 1200px) {
  body main .explore .explore-images div .lg-img {
    height: 350px;
    width: 90%;
  }
}
body main .clothing {
  padding: 4rem 6rem;
  display: flex;
}
@media (max-width: 768px) {
  body main .clothing {
    flex-direction: column;
    padding: 5rem 1.5rem;
  }
}
@media (max-width: 991px) {
  body main .clothing {
    flex-direction: column;
    padding: 5rem 1.5rem;
  }
}
body main .clothing .clothing-details {
  margin-bottom: 7rem;
}
@media (max-width: 768px) {
  body main .clothing .clothing-details {
    text-align: center;
  }
}
@media (max-width: 991px) {
  body main .clothing .clothing-details {
    text-align: center;
  }
}
body main .clothing .clothing-details h3 {
  font-size: 26px;
  white-space: pre-line;
  margin-bottom: 30px;
}
body main .clothing .clothing-details p {
  color: rgba(30, 30, 30, 0.4352941176);
  white-space: pre-line;
  margin-bottom: 30px;
  line-height: 25px;
}
body main .clothing .clothing-details button {
  width: 125px;
  height: 30px;
  background: #c1dcdc;
  border: none;
  padding-right: 1rem;
}
body main .clothing .clothing-details button i {
  margin-left: 15px;
}
body main .clothing .wears {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  body main .clothing .wears {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  body main .clothing .wears {
    justify-content: center;
  }
}
body main .clothing .wears i {
  background: #c1dcdc;
  padding: 10px;
}
body main .clothing .wears i:hover {
  cursor: pointer;
}
body main .clothing .wears .figure {
  display: flex;
  gap: 30px;
}
body main .clothing .wears .figure img {
  width: 298px;
  height: 338px;
}
@media (max-width: 1200px) {
  body main .clothing .wears .figure img {
    height: 320px;
    width: 250px;
  }
}
@media (max-width: 1023px) {
  body main .clothing .wears .figure img {
    height: 300px;
    width: 220px;
  }
}
@media (max-width: 768px) {
  body main .clothing .wears #rest-figure {
    display: none;
  }
}
body main .discount-bar {
  margin: 6rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 45rem;
  width: 1300px;
  height: 110px;
  background: #02a0a0;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  body main .discount-bar {
    flex-direction: column;
    margin-left: 4rem;
    align-items: unset;
  }
}
@media (max-width: 991px) {
  body main .discount-bar {
    flex-direction: column;
    background: none;
  }
}
@media (max-width: 1023px) {
  body main .discount-bar {
    width: 890px;
    left: 24rem;
  }
}
@media (max-width: 1200px) {
  body main .discount-bar {
    width: 920px;
    left: 24rem;
  }
}
body main .discount-bar .discount-details {
  background: #c1dcdc;
  width: 90%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  border-right: 100px solid #02a0a0;
  border-bottom: 100px solid transparent;
}
@media (max-width: 768px) {
  body main .discount-bar .discount-details {
    width: 40%;
    border-right: none;
    border-bottom: none;
  }
}
@media (max-width: 991px) {
  body main .discount-bar .discount-details {
    width: 40%;
    border-right: none;
    border-bottom: none;
  }
}
body main .discount-bar .discount-details h5 {
  margin-top: 25px;
  margin-left: 24px;
}
body main .discount-bar .discount-details p {
  margin-left: 24px;
}
body main .discount-bar .discount-btn {
  background: #02a0a0;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
body main .discount-bar .discount-btn button {
  float: right;
  background: #000000;
  color: #ffffff;
  margin-top: 45px;
  margin-right: 35px;
  width: 80px;
  height: 30px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  body main .discount-bar .discount-btn button {
    align-items: center;
  }
}
@media (max-width: 991px) {
  body main .discount-bar .discount-btn button {
    align-items: center;
  }
}
body main .new-arrival {
  margin: 20px 9rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  body main .new-arrival {
    align-items: center;
  }
}
@media (max-width: 991px) {
  body main .new-arrival {
    align-items: center;
  }
}
body main .new-arrival .new-arrival-details {
  display: flex;
  color: #02a0a0;
}
body main .new-arrival .new-arrival-details .border {
  border: 1px solid;
  width: 16px;
  height: 35px;
  background: #02a0a0;
}
body main .new-arrival .new-arrival-details .featured {
  margin-left: 15px;
  margin-top: 5px;
}
body main .new-arrival h4 {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 25px;
}
body main .new-arrival .new-arrival-img {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  body main .new-arrival .new-arrival-img {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  body main .new-arrival .new-arrival-img {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  body main .new-arrival .new-arrival-img {
    gap: 0.6rem;
  }
}
@media (max-width: 991px) {
  body main .new-arrival .new-arrival-img img {
    align-items: center;
  }
}
body main .new-arrival .new-arrival-img .left-image {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  body main .new-arrival .new-arrival-img .left-image img {
    width: 280px;
    height: 300px;
  }
}
@media (max-width: 1023px) {
  body main .new-arrival .new-arrival-img .left-image img {
    width: 400px;
    height: 650px;
  }
}
@media (max-width: 1200px) {
  body main .new-arrival .new-arrival-img .left-image img {
    width: 400px;
    height: 620px;
  }
}
body main .new-arrival .new-arrival-img .right-image {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  body main .new-arrival .new-arrival-img .right-image img {
    width: 280px;
    height: 300px;
  }
}
@media (max-width: 1023px) {
  body main .new-arrival .new-arrival-img .right-image img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 1200px) {
  body main .new-arrival .new-arrival-img .right-image img {
    width: 450px;
    height: 300px;
  }
}
body main .new-arrival .new-arrival-img .right-image .small-images {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  body main .new-arrival .new-arrival-img .right-image .small-images {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  body main .new-arrival .new-arrival-img .right-image .small-images img {
    width: 220px;
    height: 300px;
  }
}
@media (max-width: 1200px) {
  body main .new-arrival .new-arrival-img .right-image .small-images img {
    width: 220px;
    height: 300px;
  }
}
body main .saved-products {
  margin: 6rem;
  padding: 2rem;
  border: 1px solid #e8e5e5;
}
@media (max-width: 768px) {
  body main .saved-products {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 991px) {
  body main .saved-products {
    border: none;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
body main .saved-products p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
body main .saved-products .gadget_image {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  body main .saved-products .gadget_image {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  body main .saved-products .gadget_image {
    flex-direction: column;
  }
}
body main .saved-products .gadget_image img {
  width: 280px;
  height: 300px;
}
@media (max-width: 1023px) {
  body main .saved-products .gadget_image img {
    width: 180px;
    height: 260px;
  }
}
@media (max-width: 1200px) {
  body main .saved-products .gadget_image img {
    width: 190px;
    height: 260px;
  }
}
body main .saved-products .gadget_image figcaption {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 18px;
}
body main .saved-products .gadget_image figcaption h6 {
  font-weight: normal;
  font-size: 16px;
  width: 60%;
}
body main .saved-products .gadget_image button {
  color: #2283dc;
  border: 1px solid #e8e5e5;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background: #ffffff;
}
body footer {
  background: #000000;
  color: #ffffff;
  margin-top: 8rem;
  padding-top: 5rem;
  width: auto;
}
body footer hr {
  border: 1px solid #313030;
}
body footer .footer-details {
  display: flex;
  padding-left: 90px;
  padding-bottom: 50px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body footer .footer-details {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  body footer .footer-details {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  body footer .footer-details .left-details {
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  body footer .footer-details .left-details {
    margin-bottom: 3rem;
  }
}
body footer .footer-details .left-details h5 {
  margin-right: 500px;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 2rem;
}
body footer .footer-details .left-details p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 2rem;
}
body footer .footer-details .left-details a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}
body footer .footer-details .left-details a:hover {
  color: #02a0a0;
  cursor: pointer;
}
body footer .footer-details i {
  font-size: 40px;
}
body footer .footer-details .right-details h5 {
  margin-right: 100px;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 2rem;
}
body footer .footer-details .right-details p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 2rem;
}
body footer .footer-details .right-details a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}
body footer .footer-details .right-details a:hover {
  color: #02a0a0;
  cursor: pointer;
}
body footer .footer-list {
  padding-left: 90px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 90px;
}
@media (max-width: 768px) {
  body footer .footer-list {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 991px) {
  body footer .footer-list {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  body footer .footer-list {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  body footer .footer-list {
    gap: 20px;
  }
}
body footer .footer-list ul {
  list-style: none;
  font-size: 14px;
}
body footer .footer-list ul li {
  line-height: 35px;
}
body footer .footer-list ul .hd {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
body footer section {
  margin-top: 3rem;
  padding-bottom: 2rem;
  margin-left: 8rem;
}
body footer section p {
  font-weight: 200;
  margin-bottom: 5px;
}
body footer section img {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 8px;
}
body footer section a {
  color: #ab4e1a;
  font-size: 26px;
  padding-left: 8px;
}
body footer section h6 {
  font-size: 18px;
  font-weight: 200;
  float: right;
  padding-right: 8rem;
}/*# sourceMappingURL=index.css.map */